<div class="window">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-heading">First, let's identify what needs to get done. What are the day-to-day tasks that need to be completed?</h3>
		</div>
		<div class="panel-body">
			<form class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-1 control-label">Task 1</label>
					<div class="col-sm-11">
						<input class="form-control" type="text" placeholder="Enter a task">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>